.testimonial{
	max-width: 25rem;
	max-height: 10rem;
	background-color: whitesmoke;
	color: rgb(253, 9, 9);
	padding: 2rem;
	border-radius: 1rem;
	text-align: center;
	font-size: 1.3rem;
	margin: 1rem;
}

.testimonial__author{
	padding: .5rem 0;
	text-align: center;
	
}

.testimonial__author > p{
	color: #334443;
	font-size: 1rem;
	text-align: center;
}

