/* home contact */


.home__contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__contact-info a{
  color: red;
}
.home__contact-info a:hover{
  text-decoration: underline;
}

.home__contact{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* width: 100%; */
  margin-top: 2rem;
}
.home__contact-form{
	width: 40rem;
  margin-bottom: 1.5rem;
}

.home__contact-map{
  width: 40%;
  border: 1px solid red;
}

  