.service{
	margin: .5rem;
	border: 2px solid #005792;
	width: 20rem;
	height: 25rem;
	padding: 1rem;
	text-align: center;
	border-radius: 10%;
}

.service >img{
	width: 10rem;
	height: 10rem;
	object-fit: contain;
}

.service >p{
	color: gray;
	font-size: 1rem;
}




