.menu{
	position: relative;
}
.navBar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: .1rem;
	background-color: #005792;
	align-items: center;
}

.navBar__brand > img{
	width: 7rem;
	height: 6rem;
	object-fit: contain;
	margin: 0 1rem;
}

.navBar__menu{
	flex: 1 1 2;
	width: 40%;

}

.navBar__menu-items{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	list-style: none;
}

.navBar__menu-item{
	padding: .5rem;
	/* background-color: #a3d2ca; */
	color: white;
	border-radius: 10%;
	text-align: justify;
	text-decoration: none;
	font-size: 1.5rem;
	/* border-right: 2px solid #eb5e0b;
	border-left: 2px solid #eb5e0b; */
	background-size: c;
	
}

.navBar__menu-item:hover{
	border-bottom: 2px solid #eb5e0b;
}

.navBar__menu-item.active{
	border-bottom: 2px solid #eb5e0b;
}

.navBar__menu-item:active
	{
		border-bottom: 3px solid #eb5e0b;
	
}

.mobileMenuBar{
	display: none;
}

.mobileMenu{
	display: none;
}




/* mobile  */
@media only screen and (max-width: 800px) {
	.navBar__menu{
		display: none;
	
	}

	.mobileMenuBar{
		display: inline;
	}

	.navBar__brand > img{
		width: 5rem;
		height: 4rem;
		object-fit: contain;
		margin: 0 1rem;
	}

	.mobileMenu{
		display: inline;
		position: absolute;
		z-index: 1;
		left: -100vw;
		transition: .5s ease;
		width: 80%;
	}
	
	.mobileMenu.open {
		left:0;
	}
  }
  

