*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto', sans-serif,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: whitesmoke; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: inherit;
  color: inherit;
}

h1,h2{
  color: #0061a8;
  font-size: 2.5rem;
  padding: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h2{
  font-size: 2rem;
  font-weight: 500;
}


p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color:#2c2b2b;
  text-align: justify;
  padding: .5rem;
  /* font-weight: 400; */
  line-height: 1.2;
}

section{
  padding: 5rem 10rem;
  /* text-align: center; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  section{
    padding: 1rem 0.5rem;
    /* text-align: center; */
  }

  p{
    font-size: .7rem;
  }

  h2{
    font-size: 1.5rem;
    font-weight: 400;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 
