*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto', sans-serif,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: inherit;
  color: inherit;
}

h1,h2{
  color: #0061a8;
  font-size: 2.5rem;
  padding: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h2{
  font-size: 2rem;
  font-weight: 500;
}


p{
  font-size: 1.2rem;
  color:black;
  text-align: justify;
  padding: .5rem;
  font-weight: 200;
}
