.home__topBanner{
	position: relative;
	/* width:; */
}


.home__topBanner-text{
	position: absolute;
	bottom: 10rem;
	left: 10vw;
	/* right: 50vw; */
	color: #0061a8;
	/* background-color: gray; */
	padding: 1rem;
	/* opacity: .5; */
}

.home__topBanner-text >h1{
	opacity: 1;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

/* home about section */
.home__about{
	padding: 5rem 10rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}

.home__about >img{
	width: 20rem;
	height: 20rem;
	object-fit: contain;
}
.home__about-content{
	flex: 1;
	margin-left:5rem;
}

.home__about-content>h2{
	
}

/* home servicess */
.home__services{
	/* background-color: #005792; */
	/* color: white; */
	padding: 5rem 10rem;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.home__services-content {
		/* width: 30rem; */
		flex: 1;
		width:60%;
		
}

.home__services-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* clients  */
.home__clients{
	padding: 5rem 10rem;
	text-align: center;

}

.home__clients img{
	width: 10rem;
	height: 10rem;
	object-fit: contain;
	transition: all .2s ease-out;
}

.home__clients img:hover{
	transform: scale(1.2);
  opacity: .5;
  cursor: pointer;
 
}


.home__clients-logos{
	height: 150px;
  	width: 70vw;
  	border: 2px solid #eee;
  	overflow: hidden;
  	box-sizing: border-box;
  	position: relative;
	/* background-color: #0061a8; */
}
.clients{
	list-style:none;
	display: flex;
	width: 200%;
	margin: 1rem 0;
	position: absolute;
	animation: marquee 20s linear infinite;
	/* background-color: yellow; */
}

.clients:hover{
	animation-play-state: paused;
}

.client {
	width: 50%;
  }

  @keyframes marquee {
	0% { left: 0; }
	100% { left: -100%; }
  }


  /* home contact */
  #homeContact{
	  background-color: #d8e3e7;
	
  }

  .home__contact-info{
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .home__contact{
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  /* width: 100%; */
  }
  .home__contact-form{
	  width: 50%;
  }

  .home__contact-map{
	width: 40%;
	border: 1px solid red;
  }

